# Code owners for repo

# Default code owners for repo

* @arnupretorius @DriesSmit @RuanJohn @jcformanek @siddarthsingh1 @sash-a @OmaymaMahjoub @ulricharmel @callumtilbury

# Add specific code owners for certain files or folders below

# Specific code owners take precedence over the default ones
