# Code owners for repo.

# Default code owners for repo.
*       @arnupretorius @KaleabTessera @DriesSmit @mmorris44 @AsadJeewa @RuanJohn @jcformanek

# Add specific code owners for certain files or folders below.
# Specific code owners take precedence over the default ones.
