[run]
omit =
    mava/environment_loops/open_spiel_environment_loop.py
    mava/environment_loops/debugging_envs.py
    */utils/debugging/*
    */utils/environments/*
    mava/utils/training_utils.py
    mava/utils/wrapper_utils.py
    */wrappers/*
    mava/utils/loggers/tf_logger.py
