.dockerignore

.DS_Store
.idea
.vscode

.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules

.conda
.neptune
.pytest_cache
.mypy_cache
.ruff_cache

.pre-commit-config.yaml
commitlint.config.js
LICENSE

*.egg-info
docs/
outputs/
results/
