# ---MLP Networks---
actor_network:
  pre_torso:
    _target_: mava.networks.torsos.MLPTorso
    layer_sizes: [128, 128]
    use_layer_norm: False
    activation: relu

action_head:
  _target_: mava.networks.heads.ContinuousActionHead # [DiscreteActionHead, ContinuousActionHead]

critic_network:
  pre_torso:
    _target_: mava.networks.torsos.MLPTorso
    layer_sizes: [128, 128]
    use_layer_norm: False
    activation: relu
