colorama
distrax @ git+https://github.com/google-deepmind/distrax  # distrax release doesn't support jax > 0.4.13
flashbax~=0.1.0
flax
gigastep @ git+https://github.com/mlech26l/gigastep
hydra-core==1.3.2
id-marl-eval @ git+https://github.com/instadeepai/marl-eval
jax
jaxlib
jaxmarl
jumanji @ git+https://github.com/sash-a/jumanji
matrax @ git+https://github.com/instadeepai/matrax
neptune
numpy
omegaconf
optax
protobuf~=3.20
tensorboard_logger
type_enforced # needed because gigastep is missing this dependency
