colorama
distrax @ git+https://github.com/google-deepmind/distrax  # distrax release doesn't support jax > 0.4.13
flashbax~=0.1.0
flax~=0.7.5
hydra-core==1.3.2
jax
jaxlib
jaxmarl
jumanji @ git+https://github.com/sash-a/jumanji
neptune
numpy
omegaconf
optax
protobuf~=3.20
tensorboard_logger
